body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 360px;
    margin: 70px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
}

.input-area {
    display: flex;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px 0 0 5px;
}

#addBtn {
    padding: 10px;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#taskList li {
    background: #eeeeee;
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.deleteBtn {
    background: red;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}
